<footer class="main-footer">
    <div class="container footer-content">
        <div class="footer-div">
            <p class="footer-text">Chocolate a delicious cure for a bad day</p>
        </div>
        <div class="footer-contacts">
            <address class="footer-contact-main">
                <p class="footer-contactus">Contact us</p>
                <ul class="list footer-contact-list">
                    <li>
                        <a class="footer-phone-number link" href="tel:+380684439426">+380 (68) 443-94-26</a>
                    </li>
                    <li>
                        <a class="footer-email link" href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a>
                    </li>
                </ul>
            </address>
        </div>
        <div class="footer-social-media">
            <ul class="social-list-footer list">
                <li class="footer-social-list-item">
                    <a href="" class="social-list-link-footer">
                        <svg class="footer-social-list-icon" width="24" height="24">
                            <use href=""></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social-list-item">
                    <a href="" class="social-list-link-footer">
                        <svg class="footer-social-list-icon" width="24" height="24">
                            <use href=""></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <ul class="footer-anchor">
                <li class="footer-anchorlinks">
                    <a href="" class="footer-anchor-text">Home</a>
                </li>
                <li class="footer-anchorlinks">
                    <a href="" class="footer-anchor-text">How it’s made?</a>
                </li>
                <li class="footer-anchorlinks">
                    <a href="" class="footer-anchor-text">Our products</a>
                </li>
                <li class="footer-anchorlinks">
                    <a href="" class="footer-anchor-text">Top sellers</a>
                </li>
                <li class="footer-anchorlinks">
                    <a href="" class="footer-anchor-text">Chocolate is loved</a>
                </li>
            </ul>
        </div>
    </div>
</footer>