<header class="header">
  <div class="container">
    <nav class="header_nav">
      <a href="" class="header_logo">
        SIMPLY CHOCOLATE
        <svg height="21" width="21">
          <use href="../img/symbol-defs.svg#icon-chocolate"></use>
        </svg>
      </a>

      <div class="header_main">
        <ul class="header_list">
          <li class="header_item"><a href="" class="header_link">Home</a></li>
          <li class="header_item">
            <a href="" class="header_link">How it’s made?</a>
          </li>
          <li class="header_item">
            <a href="" class="header_link">Our products</a>
          </li>
          <li class="header_item">
            <a href="" class="header_link">Top sellers</a>
          </li>
          <li class="header_item">
            <a href="" class="header_link">Chocolate is loved</a>
          </li>
        </ul>

        <a href="" class="header_socials"> </a>
        <a href="" class="header_socials"> </a>
      </div>
    </nav>

    <div class="header_modal">
      <ul class="header_list">
        <li class="header_item"><a href="" class="header_link">Home</a></li>
        <li class="header_item">
          <a href="" class="header_link">How it’s made?</a>
        </li>
        <li class="header_item">
          <a href="" class="header_link">Our products</a>
        </li>
        <li class="header_item">
          <a href="" class="header_link">Top sellers</a>
        </li>
        <li class="header_item">
          <a href="" class="header_link">Chocolate is loved</a>
        </li>
      </ul>

      <a href="" class="header_socials"> </a>
      <a href="" class="header_socials"> </a>
    </div>
  </div>
</header>
