<header class="header">
  <div class="header_container container">
    <a href="" class="header_logo">
      SIMPLY <span class="header_logo_secondary">CHOCOLATE</span>
      <svg height="21" width="21" class="header_logo_icon">
        <use href="../img/symbol-defs.svg#icon-chocolate"></use>
      </svg>
    </a>

    <nav class="header_nav">
      <div class="header_main">
        <ul class="header_list">
          <li class="header_item"><a href="" class="header_link">Home</a></li>
          <li class="header_item">
            <a href="" class="header_link">How it’s made?</a>
          </li>
          <li class="header_item">
            <a href="" class="header_link">Our products</a>
          </li>
          <li class="header_item">
            <a href="" class="header_link">Top sellers</a>
          </li>
          <li class="header_item">
            <a href="" class="header_link">Chocolate is loved</a>
          </li>
        </ul>

        <a href="" class="header_socials">
          <svg height="24" width="24">
            <use href="../img/symbol-defs.svg#icon-instagram"></use>
          </svg>
        </a>
        <a href="" class="header_socials">
          <svg height="24" width="24">
            <use href="../img/symbol-defs.svg#icon-twitter"></use>
          </svg>
        </a>
      </div>
    </nav>

    <button type="button" class="header_humburger-button js-open-menu">
      <svg height="28" width="28">
        <use href="../img/symbol-defs.svg#icon-humburger-menu"></use>
      </svg>
    </button>

    <div class="js-menu-container header_modal">
      <button type="button" class="js-close-menu header_button_close">
        <svg width="28px" height="28px" class="header_icon_close">
          <use href="../img/symbol-defs.svg#icon-icon-close"></use>
        </svg>
      </button>

      <ul class="header_list">
        <li class="header_item"><a href="" class="header_link">Home</a></li>
        <li class="header_item">
          <a href="#" class="header_link">How it’s made?</a>
        </li>
        <li class="header_item">
          <a href="#" class="header_link">Our products</a>
        </li>
        <li class="header_item">
          <a href="#" class="header_link">Top sellers</a>
        </li>
        <li class="header_item">
          <a href="#" class="header_link">Chocolate is loved</a>
        </li>
      </ul>

      <ul class="header_modal-button_list">
        <li class="header_modal-button_item">
          <a href="" class="header_socials">
            <svg height="22" width="22" class="header_social-icon">
              <use href="../img/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header_modal-button_item">
          <a href="" class="header_socials">
            <svg height="20" width="20" class="header_social-icon">
              <use href="../img/symbol-defs.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
