<section class="hero">
  <div class="container">
    <div class="hero-container">
      <h1 class="hero_title">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h1>
      <div class="hero_btn-container">
        <button type="button">Buy now</button>
        <button class="hero_btn-made" type="button">How it's made</button>
      </div>
      <div class="hero_scroll">
        <a href="">
          <span>scroll down</span>
          <svg class="hero_svg">
            <use href="../img/symbol-defs.svg#icon-angle-small-left"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
