<section class="hero">
  <div class="container">
    <div class="hero_container">
      <div class="hero_content">
        <h1 hidden>Simply Chocolate</h1>
        <h2 class="hero_title">
          Treat yourself or a loved one to our finest ingredients for a moment
          of pure delight!
        </h2>
        <div class="hero_lower">
          <div class="hero_btn-container hero_btn">
            <button class="hero_btn-buy js-open-modal" data-modal="1" type="button">Buy now</button>
            <a class="hero_btn-made" type="button" href="#how_made">
              How it's made
            </a>
          </div>
          <div class="hero_scroll">
            <a class="hero_link" href="#footer">
              <span class="hero_span">scroll down</span>
              <div class="hero_icon">
                <svg class="hero_svg">
                  <use href="/img/symbol-defs.svg#icon-angle-small-left"></use>
                </svg>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
