<section class="product">
  <div class="product__body container">
    <h2 class="product__title title">
      Our <span class="product__title_second">Product</span>
    </h2>
    <ul class="product__list list">
      <li class="product__item item">
        <div class="product__box">
          <img
            srcset="
              ./img/our-product/chocolate-1.jpg 1x,
              ./img/our-product/chocolate-1.jpg 2x
            "
            src="./img/our-product/chocolate-1.jpg"
            alt="orange chocolate"
            class="product__image"
            width="230px"
          />

          <div class="product__info">
            <h3 class="product__chocolate_title">ORANGE</h3>
            <p class="product__chocolate_subtitle">Dark chocolate</p>
            <button class="product__btn" type="button">45 UAH</button>
          </div>
        </div>
      </li>
      <li class="product__item item">
        <div class="product__box">
          <img
            srcset="
              ./img/our-product/chocolate-2.jpg 1x,
              ./img/our-product/chocolate-2.jpg 2x
            "
            src="./img/our-product/chocolate-2.jpg"
            alt="apple&cranberry chocolate"
            class="product__image"
            width="230px"
          />
          <div class="product__info">
            <h3 class="product__chocolate_title">APPLE&CRANBERRY</h3>
            <p class="product__chocolate_subtitle">Milk chocolate</p>
            <button class="product__btn" type="button">50 UAH</button>
          </div>
        </div>
      </li>
      <li class="product__item item">
        <div class="product__box">
          <img
            srcset="
              ./img/our-product/chocolate-3.jpg 1x,
              ./img/our-product/chocolate-3.jpg 2x
            "
            src="./img/our-product/chocolate-3.jpg"
            alt="lime&sea salt chocolate"
            class="product__image"
            width="230px"
          />
          <div class="product__info">
            <h3 class="product__chocolate_title">lime&sea salt</h3>
            <p class="product__chocolate_subtitle">Dark chocolate</p>
            <button class="product__btn" type="button">66 UAH</button>
          </div>
        </div>
      </li>
      <li class="product__item item">
        <div class="product__box">
          <img
            srcset="
              ./img/our-product/chocolate-4.jpg 1x,
              ./img/our-product/chocolate-4.jpg 2x
            "
            src="./img/our-product/chocolate-4.jpg"
            alt="pineapple chocolate"
            class="product__image"
            width="230px"
          />
          <div class="product__info">
            <h3 class="product__chocolate_title">pineapple</h3>
            <p class="product__chocolate_subtitle">Dark chocolate</p>
            <button class="product__btn" type="button">54 UAH</button>
          </div>
        </div>
      </li>
      <li class="product__item item">
        <div class="product__box">
          <img
            srcset="
              ./img/our-product/chocolate-5.jpg 1x,
              ./img/our-product/chocolate-5.jpg 2x
            "
            src="./img/our-product/chocolate-5.jpg"
            alt="classic milk-chocolate"
            class="product__image"
            width="230px"
          />
          <div class="product__info">
            <h3 class="product__chocolate_title">Classic</h3>
            <p class="product__chocolate_subtitle">Milk chocolate</p>
            <button class="product__btn" type="button">45 UAH</button>
          </div>
        </div>
      </li>
      <li class="product__item item">
        <div class="product__box">
          <img
            srcset="
              ./img/our-product/chocolate-6.jpg 1x,
              ./img/our-product/chocolate-6.jpg 2x
            "
            src="./img/our-product/chocolate-6.jpg"
            alt="honey chocolate"
            class="product__image"
            width="230px"
          />
          <div class="product__info">
            <h3 class="product__chocolate_title">Honey</h3>
            <p class="product__chocolate_subtitle">Milk chocolate</p>
            <button class="product__btn" type="button">50 UAH</button>
          </div>
        </div>
      </li>
      <li class="product__item item">
        <div class="product__box">
          <img
            srcset="
              ./img/our-product/chocolate-7.jpg 1x,
              ./img/our-product/chocolate-7.jpg 2x
            "
            src="./img/our-product/chocolate-7.jpg"
            alt="roasted fruits chocolate"
            class="product__image"
            width="230px"
          />
          <div class="product__info">
            <h3 class="product__chocolate_title">Roasted fruits</h3>
            <p class="product__chocolate_subtitle">Dark chocolate</p>
            <button class="product__btn" type="button">66 UAH</button>
          </div>
        </div>
      </li>
      <li class="product__item item">
        <div class="product__box">
          <img
            srcset="
              ./img/our-product/chocolate-8.jpg 1x,
              ./img/our-product/chocolate-8.jpg 2x
            "
            src="./img/our-product/chocolate-8.jpg"
            alt="Classic white=chocolate"
            class="product__image"
            width="230px"
          />
          <div class="product__info">
            <h3 class="product__chocolate_title">Classic</h3>
            <p class="product__chocolate_subtitle">White chocolate</p>
            <button class="product__btn" type="button">54 UAH</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
