<section class="product">
  <div class="product__body container">
    <h1 class="product__title title">
      Our <span class="product__title_second">Product</span>
    </h1>
    <ul class="product__list list">
      <li class="product__item item">
        <img
          src="./img/our product/chocolate-1.jpg"
          alt="orange chocolate"
          class="product__image"
        />
        <h1 class="product__chocolate_title">ORANGE</h1>
        <p class="product__chocolate_subtitle">Dark chocolate</p>
      </li>
      <li class="product__item item">
        <img
          src="./img/our product/chocolate-2.jpg"
          alt="apple&cranberry chocolate"
          class="product__image"
        />
        <h1 class="product__chocolate_title">APPLE&CRANBERRY</h1>
        <p class="product__chocolate_subtitle">Milk chocolate</p>
      </li>
      <li class="product__item item">
        <img
          src="./img/our product/chocolate-3.jpg"
          alt="lime&sea salt chocolate"
          class="product__image"
        />
        <h1 class="product__chocolate_title">lime&sea salt</h1>
        <p class="product__chocolate_subtitle">Dark chocolate</p>
      </li>
      <li class="product__item item">
        <img
          src="./img/our product/chocolate-4.jpg"
          alt="pineapple chocolate"
          class="product__image"
        />
        <h1 class="product__chocolate_title">pineapple</h1>
        <p class="product__chocolate_subtitle">Dark chocolate</p>
      </li>
      <li class="product__item item">
        <img
          src="./img/our product/chocolate-5.jpg"
          alt="classic milk-chocolate"
          class="product__image"
        />
        <h1 class="product__chocolate_title">Classic</h1>
        <p class="product__chocolate_subtitle">Milk chocolate</p>
      </li>
      <li class="product__item item">
        <img
          src="./img/our product/chocolate-6.jpg"
          alt="honey chocolate"
          class="product__image"
        />
        <h1 class="product__chocolate_title">Honey</h1>
        <p class="product__chocolate_subtitle">Milk chocolate</p>
      </li>
      <li class="product__item item">
        <img
          src="./img/our product/chocolate-7.jpg"
          alt="roasted fruits chocolate"
          class="product__image"
        />
        <h1 class="product__chocolate_title">Roasted fruits</h1>
        <p class="product__chocolate_subtitle">Dark chocolate</p>
      </li>
      <li class="product__item item">
        <img
          src="./img/our product/chocolate-8.jpg"
          alt="Classic white=chocolate"
          class="product__image"
        />
        <h1 class="product__chocolate_title">Classic</h1>
        <p class="product__chocolate_subtitle">White chocolate</p>
      </li>
    </ul>
  </div>
</section>
