<section class="reviews">
  <div class="container">
    <h2 class="reviews_title">
      <span class="reviews_title__colored-part">chocolate</span> is loved
    </h2>
    <div class="swiper rewiews-slider">
      <ul class="swiper-wrapper reviews-list">
        <li class="swiper-slide reviews-list_item">
          <div class="rewiews-card">
            <div class="rewiews-card_img-thumb">
              <img
                srcset="
                  ./img/reviews/victoria-dobrzhanska.jpg    1x,
                  ./img/reviews/victoria-dobrzhanska@2x.jpg 2x
                "
                src="./img/reviews/victoria-dobrzhanska.jpg"
                alt="client's photo"
              />
            </div>
            <div class="rewiews-card_content">
              <h3 class="rewiews-card_title">Victoria Dobrzhanska</h3>
              <p class="rewiews-card_text">
                I love this chocolate bar. Perfect combination of light crispy
                wafer, covered in a thin layer chocolate.
              </p>
            </div>
          </div>
        </li>
        <li class="swiper-slide reviews-list_item">
          <div class="rewiews-card">
            <div class="rewiews-card_img-thumb">
              <img
                src="./img/reviews/nazar-babenko.jpg"
                srcset="
                  ./img/reviews/nazar-babenko.jpg    1x,
                  ./img/reviews/nazar-babenko@2x.jpg 2x
                "
                alt="client's photo"
              />
            </div>
            <div class="rewiews-card_content">
              <h3 class="rewiews-card_title">Nazar Babenko</h3>
              <p class="rewiews-card_text">
                This chocolate confection is a delight! A delight! The wafer is
                light and crisp, the hazelnut cream is smooth, and the chocolate
                is good.
              </p>
            </div>
          </div>
        </li>
        <li class="swiper-slide reviews-list_item">
          <div class="rewiews-card">
            <div class="rewiews-card_img-thumb">
              <img
                srcset="
                  ./img/reviews/olena-kampusch.jpg    1x,
                  ./img/reviews/olena-kampusch@2x.jpg 2x
                "
                src="./img/reviews/olena-kampusch.jpg"
                alt="client's photo"
              />
            </div>
            <div class="rewiews-card_content">
              <h3 class="rewiews-card_title">Olena Kampusch</h3>
              <p class="rewiews-card_text">
                Chocolate is a family favourite treat. Love the delicious smooth
                chocolate and the creaminess inside. The wafer is soft but
                crunchy.
              </p>
            </div>
          </div>
        </li>
        <li class="swiper-slide reviews-list_item">
          <div class="rewiews-card">
            <div class="rewiews-card_img-thumb">
              <img
                src="./img/reviews/natalia-sus.jpg"
                srcset="
                  ./img/reviews/natalia-sus.jpg    1x,
                  ./img/reviews/natalia-sus@2x.jpg 2x
                "
                alt="client's photo"
              />
            </div>
            <div class="rewiews-card_content">
              <h3 class="rewiews-card_title">Natalia Sus</h3>
              <p class="rewiews-card_text">
                The chocolate assortment was delicious. Both dark and milk
                chocolate pieces were smooth and just right on the sweetness
                level.
              </p>
            </div>
          </div>
        </li>
        <li class="swiper-slide reviews-list_item">
          <div class="rewiews-card">
            <div class="rewiews-card_img-thumb">
              <img
                srcset="
                  ./img/reviews/danilo-nottingham.jpg    1x,
                  ./img/reviews/danilo-nottingham@2x.jpg 2x
                "
                src="./img/reviews/danilo-nottingham.jpg"
                alt="client's photo"
              />
            </div>
            <div class="rewiews-card_content">
              <h3 class="rewiews-card_title">Danilo Nottingham</h3>
              <p class="rewiews-card_text">
                This is delicious. It so rich and flavorful you don't need to
                use as many. I love topping an apple with almond butter and
                these chips for a snack.
              </p>
            </div>
          </div>
        </li>
        <li class="swiper-slide reviews-list_item">
          <div class="rewiews-card">
            <div class="rewiews-card_img-thumb">
              <img
                src="./img/reviews/irina-tydnyuk.jpg"
                srcset="
                  ./img/reviews/irina-tydnyuk.jpg    1x,
                  ./img/reviews/irina-tydnyuk@2x.jpg 2x
                "
                alt="client's photo"
              />
            </div>
            <div class="rewiews-card_content">
              <h3 class="rewiews-card_title">Irina Tydnyuk</h3>
              <p class="rewiews-card_text">
                This is simply the best chocolate around, and I'm just thrilled
                to support a local company! Best local chocolate - world class
                :)
              </p>
            </div>
          </div>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
    <button class="reviews_open-btn js-open-modal" data-modal="1" type="button">
      Leave a review
    </button>
    <div class="overlay js-overlay-modal reviews-backdrop"></div>
    <div class="modal reviews-modal" data-modal="1">
      <button class="js-modal-close reviews-modal_close-btn" type="button">
        <svg class="reviews-modal_close-icon" width="24" height="24">
          <use href="./img/symbol-defs.svg#icon-x-close"></use>
        </svg>
      </button>
      <h2 class="rewiews-modal_title">
        leave a review about
        <span class="rewiews-modal_title__colored-part">our chocolate</span>
      </h2>
      <form class="reviews-form">
        <input
          class="modal-form_input"
          name="user_name"
          type="text"
          placeholder="Name"
          required
          pattern="^[a-zA-Zа-яА-ЯіІїЇ]+$"
          minlength="2"
        />
        <input
          class="modal-form_input"
          name="user_email"
          placeholder="Enter your email"
          type="email"
          pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$"
          required
        />
        <div class="input-field-wraper">
          <div class="input-prefix-wraper">
            <svg class="reviews-modal_country-icon">
              <use href="./img/symbol-defs.svg#icon-ukraine"></use>
            </svg>
            <span class="phone-prefix">+380</span>
          </div>
          <input
            class="modal-form_input modal-form_input__iconed"
            name="user_phone"
            type="tel"
            placeholder="Phone number"
            required
            pattern="^[0-9]{3}-[0-9]{2}-[0-9]{2}$"
            title="xxx-xx-xx"
            minlength="7"
          />
        </div>
        <textarea
          class="modal-form_message"
          name="user_comment"
          placeholder="Text input"
        ></textarea>
        <button class="modal-form_submit-btn" type="submit">Send</button>
      </form>
    </div>
    <div class="modal reviews-thanks-modal" data-modal="2">
      <button class="js-modal-close reviews-thanks-modal_close-btn" type="button">
        <svg class="reviews-thanks-modal_close-icon">
          <use href="./img/symbol-defs.svg#icon-x-close"></use>
        </svg>
      </button>
      <h2 class="reviews-thanks-modal_title">thank you <br> for your feedback!</h2>
      <p class="reviews-thanks-modal_text">We are so happy to hear from you!</p>
    </div>
    <div class="overlay js-overlay-modal reviews-backdrop"></div>
  </div>
</section>
