
<section class="components-wrapper">
  <div>
    <h2 class="components-subtitle">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="components-sublitle-orange">TASTE</span> SENSATION
    </h2>
    <p class="components-description">
      At Simply Chocolate, we believe that the secret to exceptional
      chocolate is in the details. From the sourcing of the finest
      ingredients to the careful crafting of each individual piece, every
      step of our process adds up to one exceptional taste sensation.
    </p>
    <ul class="components-card-list">
      <li class="components-card-item">
        <div class="components-img-wrapper-chocolate">
          <picture>
            <source
              srcset="
                ./img/milk-chocolate-desc.png    1x,
                ./img/milk-chocolate-desc@2x.png 2x
              "
              media="(min-width: 1200px)" />
            <source
              srcset="
                ./img/milk-chocolate-tab_and_mob.png    1x,
                ./img/milk-chocolate-tab_and_mob@2x.png 2x
              "
              media="(min-width: 280px)" />

            <img
              src="./img/milk-chocolate-desc.png"
              alt="MILK CHOCOLATE"
              class="components-milk-chocolate-fill"
            
              
          /></picture>
          <p class="components-in-picture-subtitle-white">mILK CHOCOLATE</p>
        </div>
        <div class="overlay">
          <div class="components-overlay-position">
            <h3 class="components-overlay-subtitle">Milk chocolate</h3>
            <button type="button" class="components-overlay-btn">
              chocolate</button
            ><button type="button" class="components-overlay-btn">
              the benefits
            </button>
            <p class="components-overlay-desc">
              Milk chocolate is a solid chocolate confectionery containing
              cocoa, sugar and milk. It is the most consumed type of
              chocolate. Chocolate was originally sold and consumed as a
              beverage in pre-Columbian times. Although four-fifths of all
              milk chocolate is sold in the United States and Europe,
              increasingly large amounts are consumed in China and Latin
              America.
            </p>
          </div>
        </div>
      </li>
      <li class="components-card-item">
        <div class="components-img-wrapper-milk">
          <picture>
            <source
              srcset="./img/milk-desc.png 1x, ./img/milk-desc@2x.png 2x"
              media="(min-width: 1200px)" />
            <source
              srcset="
                ./img/milk-tab_and_mob.png    1x,
                ./img/milk-tab_and_mob@2x.png 2x
              "
              media="(min-width: 280px)" />
            <img
              src="./img/milk-desc.png"
              alt="Milk"
              class="components-milk-fill"
            
              
          /></picture>
          <p class="components-in-picture-subtitle">Milk</p>
        </div>
        <div class="overlay">
          <div class="components-overlay-position">
            <h3 class="components-overlay-subtitle">Milk</h3>
            <button type="button" class="components-overlay-btn">
              milk</button
            ><button type="button" class="components-overlay-btn">
              the benefits
            </button>
            <p class="components-overlay-desc">
              Milk is a white liquid food produced by the mammary glands of
              mammals. It is the primary source of nutrition for young
              mammals (including breastfed human infants) before they are
              able to digest solid food.Early-lactation milk, which is
              called colostrum, contains antibodies that strengthen the
              immune system, and thus reduces the risk of many diseases.
              Milk contains many nutrients, including protein and lactose.
            </p>
          </div>
        </div>
      </li>
      <li class="components-card-item">
        <div class="components-img-wrapper-nuts">
          <picture>
            <source
              srcset="./img/nuts-desc.png 1x, ./img/nuts-desc@2x.png 2x"
              media="(min-width: 1200px)" />
            <source
              srcset="
                ./img/nuts-tab_and_mob.png    1x,
                ./img/nuts-tab_and_mob@2x.png 2x
              "
              media="(min-width: 280px)" />
            <img
              src="./img/nuts-desc.png"
              alt="NUTS"
              class="components-nuts-fill"
            
              
          /></picture>

          <p class="components-in-picture-subtitle-white">nuts</p>
        </div>
        <div class="overlay">
          <div class="components-overlay-position">
            <h3 class="components-overlay-subtitle">Nuts</h3>
            <button type="button" class="components-overlay-btn">
              nuts</button
            ><button type="button" class="components-overlay-btn">
              the benefits
            </button>
            <p class="components-overlay-desc">
              Almonds, pistachios, and walnuts are some types of nuts that
              contain healthy nutrients. When eaten as part of a
              nutrient-dense diet, these 9 nuts may offer benefits such as
              reducing your risk of heart disease. They’re a good source of
              fiber, healthy fats, and plant protein. Plus, they’re great on
              their own, paired with fruit, or added to dishes like salads,
              desserts, and grains.
            </p>
          </div>
        </div>
      </li>

      <li class="components-card-item">
        <div class="components-img-wrapper-semi">
          <picture>
            <source
              srcset="
                ./img/semi-sweet-chocolate-desc.png    1x,
                ./img/semi-sweet-chocolate-desc@2x.png 2x
              "
              media="(min-width: 1200px)" />
            <source
              srcset="
                ./img/semi-sweet-chocolate-tab_and_mob.png    1x,
                ./img/semi-sweet-chocolate-tab_and_mob@2x.png 2x
              "
              media="(min-width: 280px)" />
            <img
              src="./img/semi-sweet-chocolate-desc.png"
              alt="SEMI-SWEET CHOCOLATE"
              class="components-semi-sweet-chocolate-fill"
            
              
          /></picture>
          <p class="components-in-picture-subtitle">sEMI-SWEET CHOCOLATE</p>
        </div>
        <div class="overlay">
          <div class="components-overlay-position">
            <h3 class="components-overlay-subtitle">sweet chocolate</h3>
            <button type="button" class="components-overlay-btn">
              sweet chocolate</button
            ><button type="button" class="components-overlay-btn">
              the benefits
            </button>
            <p class="components-overlay-desc">
              Semi-sweet chocolate has a cocoa solid content of 35 to 65%.
              One of the best ways to gain an understanding of this type of
              chocolate is to compare it to a different type of chocolate.
              Semisweet is darker than milk chocolate. In a taste
              comparison, it has a slightly bitter taste whereas milk
              chocolate is sweeter and more mellow. This delectable flavor
              of chocolate is very versatile.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
