

@media screen and (max-width: 374px) {
  .advantages-container {
    max-width: 335px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
  }
}
@media screen and (min-width: 375px) {
    .advantages-container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
            padding-right: 20px;
    }

    .advanteges-list {
        display: block;
    }
}
/* .advantages-container {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;

} */

@media screen and (min-width: 768px) {
  .advantages-container {
    max-width: 704px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-container {
    max-width: 1160px;
  }
}
.advantages {
  padding-top: 20px;
  padding-bottom: 36px;
  background-color: #1e1823;
  width: 100%;
}
.advanteges-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.advanteges-list-item {
  margin-left: auto;
  margin-right: auto;
}
.advanteges-title {
  margin-bottom: 18px;
  font-family: montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
}
.advanteges-text {
  max-width: 308px;
  font-family: montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
.icon-advantages {
  fill: #fd9222;
}
.advanteges-style {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin-bottom: 22px;
}
.advantages-additional1 {
  margin-top: 38px;
}
.advantages-additional2 {
  margin-top: 20px;
}
/* Tablett */
@media screen and (min-width: 768px) {
  .advantages {
    padding-top: 50px;
    padding-bottom: 85px;
  }

  .advanteges-style {
    padding-top: 0;
  }
  .advanteges-list {
    display: flex;

    flex-wrap: wrap;

    column-gap: 50px;
    row-gap: 60px;
  }
  .advanteges-list-item {
    margin-left: 0;
    margin-right: 0;
  }
  .advantages-additional1 {
    margin-top: 0;
  }

  .advantages-additional2 {
    margin-top: 0;
  }
}
