.header_logo {
  display: flex;
  align-items: center;
  font-style: italic;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: var(--clr-text-primary);

  padding-top: 25px;
  padding-bottom: 19px;
}

.header_logo_secondary {
  font-style: normal;
  margin-left: 3px;
}

.header_logo_icon {
  margin-left: 4px;
}

.header_container {
  display: flex;
  align-items: center;
}

.header_main {
  display: none;
}

.header_humburger-button {
  background-color: transparent;
  border: none;
  padding: 0;
  height: 28px;
  width: 28px;
  stroke: #111111;
  margin-left: auto;
}

.header_button_close {
  background-color: transparent;
  border: none;
  padding: 0;
  height: 28px;
  width: 28px;
  stroke: #fff;
}

.header_icon_close {
  height: 100%;
  width: 100%;
}

/*  */

.header_modal-button_list {
  display: flex;
}

.header_modal-button_item {
  fill: #fff;
}

.header_social-icon {
  fill: #fff;
}

/* header_menu-button */

.header_modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 220px;

  background-color: #1e1823;
}

@media screen and (min-width: 768px) {
  .header_modal {
    width: 290px;
  }
}

.header_modal.is-open {
  display: block;
}
