.product {
  padding: 72px 0px 72px 0px;
}
@media screen and (min-width: 768px) {
  .product {
    padding: 100px 0px 100px 0px;
  }
}
.product__title {
  color: #111111;

  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .product__title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 50px;
  }
}

.product__title_second {
  color: #fd9222;
}
.product__chocolate_title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111111;
  margin-bottom: 2px;
}
.product__chocolate_subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  margin-bottom: 18px;
}

.product__btn {
  background: #fafafa;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #111111;
  padding: 8px 20px 8px 20px;
}
.product__box {
  background-color: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  width: 335px;
  text-align: center;
  align-items: center;
  margin: 0px auto;
  padding: 32px 0px 32px 0px;
}
@media screen and (min-width: 768px) {
  .product__box {
    width: 270px;
  }
}
.product__image {
  align-items: center;
  margin: 0px auto 8px auto;
}

.product__slider {
  max-width: 350px;
  height: 425px;
}
@media screen and (min-width: 768px) {
  .product__slider {
    max-width: 736px;
    height: 437px;
  }
}
@media screen and (min-width: 1200px) {
  .product__slider {
    max-width: 1136px;
    height: 437px;
  }
}

.product__slider .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background: rgba(17, 17, 17, 0.7);
}

.product__slider .swiper-pagination-bullet-active {
  width: 28px;
  height: 13px;
  border-radius: 32px;
  background: #fd9222;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 6.5px);
}
