@media screen and (max-width: 767px) {
  .components-wrapper {
    padding-top: 72px;
  }

  .components-subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111111;
    margin-bottom: 28px;
    margin-right: 26px;
    margin-left: 26px;
  }

  .components-sublitle-orange {
    color: #fd9222;
  }

  .components-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    text-align: center;
    letter-spacing: -0.02em;
    color: #111111;

    margin-bottom: 32px;
  }

  .components-milk-chocolate-fill {
    padding: 28px 55px 0 56px;
    margin-bottom: 25px;
  }

  .components-milk-fill {
    padding: 28px 55px 0 56px;
    margin-bottom: 25px;
  }

  .components-nuts-fill {
    padding: 28px 55px 0 56px;
    margin-bottom: 25px;
  }

  .components-semi-sweet-chocolate-fill {
    padding: 28px 55px 0 56px;
    margin-bottom: 25px;
  }

  .components-img-wrapper-chocolate {
    width: 335px;
    height: 270px;
    background: #fd9222;
    border-radius: 15px;
  }

  .components-img-wrapper-milk {
    background: #ffffff;
    border: 1px solid #fd9222;
    border-radius: 15px;
  }

  .components-img-wrapper-nuts {
    width: 335px;
    height: 270px;
    background: #1e1823;
    border-radius: 15px;
  }

  .components-img-wrapper-semi {
    background: #ffffff;
    border: 1px solid #fd9222;
    border-radius: 15px;
  }

  .components-nuts-fill {
    background: #1e1823;
    border-radius: 15px;
  }

  .components-in-picture-subtitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #111111;
    padding-left: 28px;
    padding-bottom: 28px;
  }

  .components-in-picture-subtitle-white {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #ffffff;
    padding-left: 28px;
    padding-bottom: 28px;
  }

  .components-overlay-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111111;
    margin-bottom: 8px;
  }

  .components-overlay-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: #111111;
  }

  .components-card-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
  }

  .components-card-item {
    position: relative;
  }

  .components-overlay-btn {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    color: #111111;
    padding: 6px 16px;
    background: #fafafa;
    border: 1px solid #fd9222;
    border-radius: 35px;
    margin-bottom: 14px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .components-overlay-btn:not(:last-child) {
    margin-right: 6px;
  }

  .components-overlay-btn:hover {
    background-color: #fd9222;
    border-radius: 35px;
    color: #ffffff;
  }

  .components-overlay-btn:focus {
    background-color: #fd9222;
    border-radius: 35px;
    color: #ffffff;
  }

  .unique-components-overlay {
    background: #ffffff;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: rotateY(180deg);
  }

  .components-overlay-position {
    padding: 28px;
  }

  .card-flip-inner {
    width: 335px;
    height: 270px;
    position: relative;
    perspective: 1000px;
  }
  .components-img-wrapper-chocolate,
  .unique-components-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    backface-visibility: hidden;
  }
  .components-img-wrapper-milk,
  .unique-components-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    backface-visibility: hidden;
  }
  .components-img-wrapper-nuts,
  .unique-components-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    backface-visibility: hidden;
  }
  .components-img-wrapper-semi,
  .unique-components-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    backface-visibility: hidden;
  }
  .card-flip-inner:hover .components-img-wrapper-chocolate {
    transform: rotateY(180deg);
  }
  .card-flip-inner:hover .components-img-wrapper-milk {
    transform: rotateY(180deg);
  }
  .card-flip-inner:hover .components-img-wrapper-nuts {
    transform: rotateY(180deg);
  }
  .card-flip-inner:hover .components-img-wrapper-semi {
    transform: rotateY(180deg);
  }
  .card-flip-inner:hover .unique-components-overlay {
    transform: rotateY(360deg);
  }
}

/* TABLETTTTTTTTTTTTTTTTTTTTTTT */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .components-wrapper {
    padding-top: 100px;
  }

  .components-subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111111;
    margin-bottom: 28px;
    margin-right: 146.5px;
    margin-left: 146.5px;
  }

  .components-sublitle-orange {
    color: #fd9222;
  }

  .components-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    text-align: center;
    letter-spacing: -0.02em;
    color: #111111;
    margin-right: 141px;
    margin-left: 141px;
    margin-bottom: 50px;
  }

  .components-milk-chocolate-fill {
    padding: 28px 56px 0 56px;
    margin-bottom: 25px;
  }

  .components-milk-fill {
    padding: 28px 56px 0 56px;
    margin-bottom: 25px;
  }

  .components-nuts-fill {
    padding: 28px 56px 0 56px;
    margin-bottom: 25px;
  }

  .components-semi-sweet-chocolate-fill {
    padding: 28px 56px 0 56px;
    margin-bottom: 25px;
  }

  .components-img-wrapper-chocolate {
    width: 336px;
    height: 270px;
    background: #fd9222;
    border-radius: 15px;
  }

  .components-img-wrapper-milk {
    background: #ffffff;
    border: 1px solid #fd9222;
    border-radius: 15px;
  }

  .components-img-wrapper-nuts {
    width: 336px;
    height: 270px;
    background: #1e1823;
    border-radius: 15px;
  }

  .components-img-wrapper-semi {
    background: #ffffff;
    border: 1px solid #fd9222;
    border-radius: 15px;
  }

  .components-nuts-fill {
    background: #1e1823;
    border-radius: 15px;
  }

  .components-in-picture-subtitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #111111;
    padding-left: 28px;
    padding-bottom: 28px;
  }

  .components-in-picture-subtitle-white {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #ffffff;
    padding-left: 28px;
    padding-bottom: 28px;
  }

  .components-overlay-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111111;
    margin-bottom: 8px;
  }

  .components-overlay-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: #111111;
  }

  .components-card-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
  }

  .components-card-item {
    position: relative;
  }

  .components-overlay-btn {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    color: #111111;
    padding: 6px 16px;
    background: #fafafa;
    border: 1px solid #fd9222;
    border-radius: 35px;
    margin-bottom: 14px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .components-overlay-btn:not(:last-child) {
    margin-right: 6px;
  }

  .components-overlay-btn:hover {
    background-color: #fd9222;
    border-radius: 35px;
    color: #ffffff;
  }

  .components-overlay-btn:focus {
    background-color: #fd9222;
    border-radius: 35px;
    color: #ffffff;
  }

  .unique-components-overlay {
    background: #ffffff;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: rotateY(180deg);
  }

  .components-overlay-position {
    padding: 28px;
  }

  .card-flip-inner {
    width: 336px;
    height: 270px;
    position: relative;
    perspective: 1000px;
  }
  .components-img-wrapper-chocolate,
  .unique-components-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    backface-visibility: hidden;
  }
  .components-img-wrapper-milk,
  .unique-components-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    backface-visibility: hidden;
  }
  .components-img-wrapper-nuts,
  .unique-components-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    backface-visibility: hidden;
  }
  .components-img-wrapper-semi,
  .unique-components-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    backface-visibility: hidden;
  }
  .card-flip-inner:hover .components-img-wrapper-chocolate {
    transform: rotateY(180deg);
  }
  .card-flip-inner:hover .components-img-wrapper-milk {
    transform: rotateY(180deg);
  }
  .card-flip-inner:hover .components-img-wrapper-nuts {
    transform: rotateY(180deg);
  }
  .card-flip-inner:hover .components-img-wrapper-semi {
    transform: rotateY(180deg);
  }
  .card-flip-inner:hover .unique-components-overlay {
    transform: rotateY(360deg);
  }
}

/* DESKTOPPPPPPPPPPPPPPPP */
@media screen and (min-width: 1200px) {
  .components-wrapper {
    padding-top: 128px;
  }

  .components-subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111111;
    margin-bottom: 28px;
    margin-right: 362.5px;
    margin-left: 362.5px;
  }

  .components-sublitle-orange {
    color: #fd9222;
  }

  .components-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    text-align: center;
    letter-spacing: -0.02em;
    color: #111111;
    margin-right: 325px;
    margin-left: 325px;
    margin-bottom: 50px;
  }

  .components-milk-chocolate-fill {
    padding: 28px 36px 0 28px;
    margin-bottom: 36px;
  }

  .components-milk-fill {
    padding: 28px 36px 0 28px;
    margin-bottom: 36px;
  }

  .components-nuts-fill {
    padding: 28px 36px 0 28px;
    margin-bottom: 36px;
  }

  .components-semi-sweet-chocolate-fill {
    padding: 28px 36px 0 28px;
    margin-bottom: 36px;
  }

  .components-img-wrapper-chocolate {
    width: 270px;
    height: 270px;
    background: #fd9222;
    border-radius: 15px;
  }

  .components-img-wrapper-milk {
    background: #ffffff;
    border: 1px solid #fd9222;
    border-radius: 15px;
  }

  .components-img-wrapper-nuts {
    width: 270px;
    height: 270px;
    background: #1e1823;
    border-radius: 15px;
  }

  .components-img-wrapper-semi {
    background: #ffffff;
    border: 1px solid #fd9222;
    border-radius: 15px;
  }

  .components-nuts-fill {
    background: #1e1823;
    border-radius: 15px;
  }

  .components-in-picture-subtitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #111111;
    padding-left: 28px;
    padding-bottom: 28px;
  }

  .components-in-picture-subtitle-white {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #ffffff;
    padding-left: 28px;
    padding-bottom: 28px;
  }

  .components-overlay-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111111;
    margin-bottom: 8px;
  }

  .components-overlay-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: #111111;
  }

  .components-card-list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 19px;
  }

  .components-card-item {
    position: relative;
  }

  .components-overlay-btn {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    color: #111111;
    padding: 6px 16px;
    background: #fafafa;
    border: 1px solid #fd9222;
    border-radius: 35px;
    margin-bottom: 14px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .components-overlay-btn:not(:last-child) {
    margin-right: 6px;
  }

  .components-overlay-btn:hover {
    background-color: #fd9222;
    border-radius: 35px;
    color: #ffffff;
  }

  .components-overlay-btn:focus {
    background-color: #fd9222;
    border-radius: 35px;
    color: #ffffff;
  }

  .unique-components-overlay {
    background: #ffffff;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: rotateY(180deg);
  }

  .components-overlay-position {
    padding: 28px;
  }

  .card-flip-inner {
    width: 270px;
    height: 270px;
    position: relative;
    perspective: 1000px;
  }
  .components-img-wrapper-chocolate,
  .unique-components-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    backface-visibility: hidden;
  }
  .components-img-wrapper-milk,
  .unique-components-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    backface-visibility: hidden;
  }
  .components-img-wrapper-nuts,
  .unique-components-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    backface-visibility: hidden;
  }
  .components-img-wrapper-semi,
  .unique-components-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    backface-visibility: hidden;
  }
  .card-flip-inner:hover .components-img-wrapper-chocolate {
    transform: rotateY(180deg);
  }
  .card-flip-inner:hover .components-img-wrapper-milk {
    transform: rotateY(180deg);
  }
  .card-flip-inner:hover .components-img-wrapper-nuts {
    transform: rotateY(180deg);
  }
  .card-flip-inner:hover .components-img-wrapper-semi {
    transform: rotateY(180deg);
  }
  .card-flip-inner:hover .unique-components-overlay {
    transform: rotateY(360deg);
  }
}
